<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <ion-item>
      <input type="file" (change)="loadImageFromDevice($event)" id="file-input"
             accept="image/png, image/jpeg" >
    </ion-item>

    <ion-card *ngIf="(previewImage$ | async)">
      <ion-card-content>
        <ion-spinner [class.ion-hide]="(showSpinner$ | async) === false"></ion-spinner>
        <img [class.ion-hide]="(faceDetected$ | async)" class="img" #previewImage [src]="(previewImage$ | async)" alt=""/>
        <div class="canvas-stack" #canvasContainer>
          <canvas  [class.ion-hide]="(faceDetected$ | async) === false" class="mask_canvas" #canvas width="0px" height="0px"></canvas>
          <canvas  [class.ion-hide]="(faceDetected$ | async) === false" class="output_canvas" #mask width="0px" height="0px"></canvas>
        </div>

      </ion-card-content>
    </ion-card>

  </div>
</ion-content>
